body{
    background-color: #484848;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33vw;
    color: rgb(239, 235, 228);
    height: 100px;
}

header img {
    padding: 10px;
}

section{
    background-color: rgb(228, 234, 239); 
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

.botao {
    background-color: rgb(12, 112, 242);
    color: rgb(239, 235, 228);
    border: 0px;
    width: 40%;
    height: 30px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
}

#troca {
    margin-top: 10px;
    width: 82%;
    background-color: rgba(12, 112, 242, 0.329) ;
    cursor: default;
}

